@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');


html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%; }

.intro{
	height:100%; 
	width:100%;
	background:url(logo.jpg) no-repeat 50% 50%;
	display: table;
	top:0;
	background-size: cover; }

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none; }
.content { 	
	max-width: 100%;
	margin: 0; auto;
	text-align: center;
	padding-bottom: 19% }
.content h1{
 	font-family: 'Yantramanav', sans-serif;
 	font-size: 550%;
 	font-weight: 100;
 	color: #E1EFE9;
 	line-height:70%; }
 .btn {
 	font-family: 'Montserrat', sans-serif;
 	font-size:135% ;
 	font-weight: 400;
 	color:#E1EFE9;
 	text-decoration: none;
 	text-transform: uppercase;
 	border: solid #E1EFE9;
 	padding:10px 20px;
 	border-radius: 500px; 
	transition: linear 0.5s 
 }
.btn:hover{
	color: black;
	border: solid black;
	border-radius: 13px;

	} 
/*--- Media Queries --*/
@media screen and (max-width: 900px) {
.content {
	padding-bottom: 30%;
}
.content h1{
	font-size: 450%;	
}
.btn {
	font-size: 110%;
	padding: 9px 17px ;
}

@media screen and (max-width: 800px) {
.content {
	padding-bottom: 30%;
}
.content h1{
	font-size: 400%;	
}
.btn {
	font-size: 100%;
	padding: 9px 17px ;
}

}
@media screen and (max-width: 768px) {
.content {
	padding-bottom: 40%;
}
.content h1{
	font-size: 300%;	
}
.btn {
	font-size: 110%;
	padding: 9px 17px ;
}
p {
	font-size: 120%;
	line-height: 100%;
}

}

@media screen and (max-width: 568px) {
.content {
	padding-bottom: 40%;
}
.content h1{
	font-size: 300%;	
}
.btn {
	font-size: 110%;
	padding: 9px 17px ;
}
p {
	font-size: 120%;
	line-height: 100%;
}

}
@media screen and (max-width: 480px) {
	.content {
	padding-bottom: 50%;
}
.content h1{
	font-size: 250%;	
}
.btn {
	font-size: 110%;
	padding: 6px 14px ;
}
p {
	font-size: 100%;
	line-height: 100%;
}
	
}