@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');



html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100% auto; 
	background-color: #626468; }
.intro{
	height:100%; 
	width:100% auto;
	top:0; }

.intro .inner {
	vertical-align: middle;
	width: 100% auto;
	max-width: none; }
.content { 	
	max-width: 100% auto;
	margin: 0; auto;
	text-align: center;
	padding-bottom: 19% }
img {
    
    height: 200px;
    width:200px;
    animation-delay: 2s;
    
}
.content h1{
 	font-family: 'Yantramanav', sans-serif;
 	font-size: 450%;
    margin:7px;
 	font-weight: 100%;
 	color: #E1EFE9;
 	line-height:70%;
    animation-delay: 7s;
    
 	 }

 #contact{
 	font-family: 'Montserrat', sans-serif;
 	font-size:100% ;
    vertical-align: left;
 	font-weight: 50px;
    width: 35%;
    margin: 30px;
    border: 0px, 2px;
    padding:0px, 2px;
 	color:#E1EFE9;
 	text-decoration: none;
 	border: solid #E1EFE9;
    border-radius: 17px;
    position: relative;
    animation-delay: 9s;
    animation-iteration-count: 5s;
 	 }
#contact h3{ margin: 17px;}

#contact:hover {
	color: black;
	border: solid black;
	border-radius: 17px;
    transition: linear 0.7s}
#design {
   font-family: 'Montserrat', sans-serif;
 	font-size:100% ;
    vertical-align: right;
 	font-weight: 50px;
    width: 45%;
    margin: 30px;
    border: 0px, 2px;
    padding:0px, 2px;
 	color:#E1EFE9;
     position: relative;
 	text-decoration: none;
 	border: solid #E1EFE9;
    border-radius: 17px; 
    animation-delay: 14s; }
#design h3{ margin: 15px;}

#design:hover {
	color: black;
	border: solid black;
	border-radius: 17px;
    transition: linear 0.7s} 


/*--- Media Queries --*/
/*--- Media Queries --*/
/*--- Media Queries --*/
/*--- Media Queries --*/


@media screen and (max-width: 900px) {
.content {
	padding-bottom: 30%;
}
.content h1{
	font-size: 400%;	
}
#contact {
	font-size: 85%;
	padding: 4px 4px ;
}
#design {
	font-size: 85%;
	padding: 4px 4px ;
    }    }
    

@media screen and (max-width: 820px) {

    img {
    
    height: 150px;
    width:150px;
    animation-delay: 2s;
    
}
.content {
	padding-bottom: 30%;
}
.content h1{
	font-size: 350%;	
}
#contact {
	font-size: 80%;
	padding: 4px 4px ;
}
#design {
	font-size: 80%;
	padding: 4px 4px;
} 

}
@media screen and (max-width: 768px) {

img {
    
    height: 130px;
    width:130px;
    animation-delay: 2s;
    
}    
.content {
	padding-bottom: 40%;
}
.content h1{
	font-size: 300%;	
}
#contact {
	font-size: 80%;
	padding: 4px 4px ;
}
#design {
	font-size: 80%;
	padding: 4px 4px ;
} 

}

@media screen and (max-width: 660px) {
.content {
	padding-bottom: 40%;
}
.content h1{
	font-size: 250%;	
}
#contact {
	font-size: 70%;
	padding: 3px 3px ;
}
#design {
	font-size: 70%;
	padding: 3px 3px ;
} 

}
@media screen and (max-width: 530px) {
    

img {
    
    height: 100px;
    width:100px;
    animation-delay: 2s;
    
}      
	.content {
	padding-bottom: 45%;
}
.content h1{
	font-size: 220%;	
}
#contact {
	font-size: 50%;
	padding: 2px 2px ;
}
#design {
	font-size: 50%;
	padding: 2px 2px ;
} 
	
}



@media screen and (max-width: 480px) {
    

img {
    
    height: 80px;
    width:80px;
    animation-delay: 2s;
    
}  
	.content {
	padding-bottom: 40%;
}
.content h1{
	font-size: 160%;	
}
#contact {
	font-size: 40%;
	padding: 2px 2px ;
}
#design {
	font-size: 40%;
	padding: 2px 2px ;
} 
	
}

@media screen and (max-width: 270px) {
	.content {
	padding-bottom: 30%;
}
.content h1{
	font-size: 100%;	
}
    #contact {
	font-size: 5px;
	padding:17px 17px ;
}
#design {
	font-size: 20%;
	padding: 0px 0px ;
} 
	
}

